.profile-avatar {
    width: 300px;
    height: 150px;
}

.avatar-upload {
    margin-top: 5px;
}

.form-horizontal .controls {
    margin-top: 5px;
}

.updateCourse {
    background-color: #DFF0D8;
    padding: 30px;
    padding-right: 300px;
}

.coursesAdminResult {
    background-color: #d5d5d5;
}

.endTesting {
    align-content: center;
}

.text {
    text-align: center;
}

.testMain {
    font-size: 14px;
    width: 960px;
    margin: 0 auto 50px;
}

#my_timer {
    color: #ff5a35;
}

.test-header {
    font-size: 30px;
    overflow: auto;
    margin: 25px 0;
}

.timer p {
    display: inline-block;
}

.back {
    background-color: #FFF9FB;
}

.radius {
    background-color: #EEF4F7;
}

.js-submit {
    margin-left: 20px;
}

.myAnswer {
    margin: 10px;
}

.selectCourse {
    padding: 20px;
    margin: 30px;
}

.titleSelect {
    color: #2b669a;
    font-size: 30px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

h1 {
    font-size: 21px;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.comment-box {
    width: 90%;
    margin: 30px auto;
}

.comment-box .panel {
    position: relative;
}

.comment-box .panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}
.comment-box .panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}

.comment-box .panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

#feedbackText {
    width: 570px;
}

.right-answer {
    background-color: #5CB85C;
}

.answers-container {
    margin-bottom: 15px;
}

.multiple-form-group {
    margin-top: 33px;
}

.testTypeWrap {
    display: inline-block;
}

.alert-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    z-index: 10;
}

.modal-dialog {
    margin-top: 270px;
}

.answers-container .dropdown-toggle {
    width: 125px;
}
.header-text h2 {
    margin-bottom: 0;
}

.header-text {
    font-size: 24px;
}

.selectTest {
    width: 960px;
    margin: 0 auto;
}

.selectTest h2 {
    width: 960px;
    margin: 25px auto;
}

.selectTest table {
    background: white;
    box-shadow: 0 5px 25px;
    width: 960px;
    margin: 0 auto;
}
.geekhub-bg {
    background: url("/resources/img/geekhub_bg.png");
}