.profile-avatar{
    width: 300px;
    height: 150px;
}

.avatar-upload{
    margin-top:5px;
}

.form-horizontal .controls {
    margin-top: 5px;
}

.updateCourse{
    background-color: #DFF0D8;
    padding: 30px;
    padding-right: 300px;
}

.coursesAdminResult{
    background-color: #d5d5d5;
}

.endTesting{
    align-content: center;
}
.text{
    text-align: center;
}

.testMain {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.back{
    background-color: #FFF9FB;
}

.radius{
    background-color: #EEF4F7;
}

.js-submit{
    margin-left: 20px;
}

.myAnswer{
    margin: 10px;
}

.myW {

}

.selectCourse{
    background-color: #f9f9f3;
    padding: 20px;
    margin: 30px;
    width: 1000px;
}

.titleSelect{
    color: #2b669a;
    font-size: 30px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

h1 {
    font-size: 21px;
}