<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
       <context:property-placeholder location='classpath:mailconfig'/>
       <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
              <property name="host" value="smtp.gmail.com" />
              <property name="port" value="587" />
              <property name="protocol" value="smtp" />
              <property name="username" value="${mail.email}" />
              <property name="password" value="${mail.password}" />

              <property name="javaMailProperties">
                     <props>
                            <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
                            <prop key="mail.smtp.auth">true</prop>
                            <prop key="mail.smtp.starttls.enable">true</prop>
                     </props>
              </property>
       </bean>

       <bean id="mailSend" class="org.geekhub.util.MailSend">
              <property name="mailSender" ref="mailSender" />
       </bean>

</beans>